In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\Ben\Desktop\Career Foundry Tasks\Board Game Analysis'

In [3]:
df = pd.read_csv(os.path.join(path, 'Board Game Raw.csv'), index_col = False)

In [4]:
df.head()

,rank,bgg_url,game_id,name,min_players,max_players,avg_time,min_time,max_time,weight,...,owned,designer,Abstract Games,Children's Games,Customizable Games,Family Games,Party Games,Strategy Games,Thematic Games,Wargames
0,1,https://boardgamegeek.com/boardgame/224517,224517,Brass: Birmingham,2,4,120,60,120,3.8951,...,53631,"Gavan Brown, Matt Tolman, Martin Wallace",0,0,0,0,0,1,0,0
1,2,https://boardgamegeek.com/boardgame/161936,161936,Pandemic Legacy: Season 1,2,4,60,60,60,2.8319,...,78310,"Rob Daviau, Matt Leacock",0,0,0,0,0,1,1,0
2,3,https://boardgamegeek.com/boardgame/174430,174430,Gloomhaven,1,4,120,60,120,3.8964,...,91428,Isaac Childres,0,0,0,0,0,1,1,0
3,4,https://boardgamegeek.com/boardgame/342942,342942,Ark Nova,1,4,150,90,150,3.7253,...,46422,Mathias Wigge,0,0,0,0,0,1,0,0
4,5,https://boardgamegeek.com/boardgame/233078,233078,Twilight Imperium: Fourth Edition,3,6,480,240,480,4.3077,...,25806,"Dane Beltrami, Corey Konieczka, Christian T. P...",0,0,0,0,0,1,1,0

In [9]:
df.columns

Index(['rank', 'bgg_url', 'game_id', 'name', 'min_players', 'max_players',
       'avg_time', 'min_time', 'max_time', 'weight', 'year', 'age',
       'avg_rating', 'geek_rating', 'num_votes', 'owned', 'designer',
       'Abstract Games', 'Children's Games', 'Customizable Games',
       'Family Games', 'Party Games', 'Strategy Games', 'Thematic Games',
       'Wargames'],
      dtype='object')

In [14]:
df[['rank', 'bgg_url', 'game_id', 'name', 'min_players', 'max_players',
       'avg_time', 'min_time', 'max_time', 'weight', 'year', 'age',
       'avg_rating', 'geek_rating']].describe()

,rank,game_id,min_players,max_players,avg_time,min_time,max_time,weight,year,age,avg_rating,geek_rating
count,2000.000000,2000.00000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,1000.500000,161915.52550,1.828500,5.041000,98.962500,59.448500,98.962500,2.521478,2006.731500,11.257000,7.367144,6.692397
std,577.494589,107574.63844,0.708759,6.554754,317.458241,52.265057,317.458241,0.811411,119.247295,2.465155,0.445848,0.427735
min,1.000000,1.00000,1.000000,0.000000,0.000000,0.000000,0.000000,1.017900,-2200.000000,0.000000,6.376850,6.179310
25%,500.750000,54113.50000,1.000000,4.000000,45.000000,30.000000,45.000000,1.956125,2010.000000,10.000000,7.042735,6.341145
50%,1000.500000,171071.00000,2.000000,4.000000,60.000000,45.000000,60.000000,2.452850,2015.000000,12.000000,7.324885,6.583630
75%,1500.250000,248582.75000,2.000000,5.000000,120.000000,60.000000,120.000000,3.046725,2019.000000,13.000000,7.640928,6.938340
max,2000.000000,374173.00000,8.000000,100.000000,12000.000000,720.000000,12000.000000,4.828200,2023.000000,18.000000,9.224300,8.423430

In [96]:
df.describe()

,rank,game_id,min_players,max_players,min_time,max_time,complexity_rating,year,age,avg_rating,...,num_votes,owned,abstract_games,childrens_games,customizable_games,family_games,party_games,strategy_games,thematic_games,war_games
count,2000.000000,2000.00000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,...,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,1000.500000,161915.52550,1.828500,5.041000,59.448500,98.962500,2.521478,2006.731500,11.257000,7.367144,...,7791.679000,12002.218500,0.056500,0.020000,0.035000,0.300000,0.062500,0.502000,0.200500,0.088000
std,577.494589,107574.63844,0.708759,6.554754,52.265057,317.458241,0.811411,119.247295,2.465155,0.445848,...,11590.369522,16824.097413,0.230942,0.140035,0.183826,0.458372,0.242122,0.500121,0.400475,0.283366
min,1.000000,1.00000,1.000000,0.000000,0.000000,0.000000,1.017900,-2200.000000,0.000000,6.376850,...,673.000000,829.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,500.750000,54113.50000,1.000000,4.000000,30.000000,45.000000,1.956125,2010.000000,10.000000,7.042735,...,2219.250000,3997.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1000.500000,171071.00000,2.000000,4.000000,45.000000,60.000000,2.452850,2015.000000,12.000000,7.324885,...,3788.500000,6451.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
75%,1500.250000,248582.75000,2.000000,5.000000,60.000000,120.000000,3.046725,2019.000000,13.000000,7.640928,...,8167.250000,12367.750000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000
max,2000.000000,374173.00000,8.000000,100.000000,720.000000,12000.000000,4.828200,2023.000000,18.000000,9.224300,...,119956.000000,191284.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [17]:
# Renaming columns for consistency
df.rename(columns = {"Children's Games" : 'childrens_games'}, inplace = True)

In [18]:
df.rename(columns = {"Customizable Games" : 'customizable_games'}, inplace = True)

In [19]:
df.rename(columns = {'Family Games' : 'family_games'}, inplace = True)

In [20]:
df.rename(columns = {'Party Games' : 'party_games'}, inplace = True)

In [21]:
df.rename(columns = {'Strategy Games' : 'strategy_games'}, inplace = True)

In [22]:
df.rename(columns = {'Thematic Games' : 'thematic_games'}, inplace = True)

In [27]:
df.rename(columns = {'Wargames' : 'war_games'}, inplace = True)

In [24]:
# Renaming to add a better description for weight
df.rename(columns = {'weight' : 'complexity_rating'}, inplace = True)

In [29]:
df.rename(columns = {'Abstract Games' : 'abstract_games'}, inplace = True)

In [30]:
df.columns

Index(['rank', 'bgg_url', 'game_id', 'name', 'min_players', 'max_players',
       'avg_time', 'min_time', 'max_time', 'complexity_rating', 'year', 'age',
       'avg_rating', 'geek_rating', 'num_votes', 'owned', 'designer',
       'abstract_games', 'childrens_games', 'customizable_games',
       'family_games', 'party_games', 'strategy_games', 'thematic_games',
       'war_games'],
      dtype='object')

In [31]:
df[['num_votes', 'owned', 'designer',
       'abstract_games', 'childrens_games', 'customizable_games',
       'family_games', 'party_games', 'strategy_games', 'thematic_games',
       'war_games']].describe()

,num_votes,owned,abstract_games,childrens_games,customizable_games,family_games,party_games,strategy_games,thematic_games,war_games
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,7791.679000,12002.218500,0.056500,0.020000,0.035000,0.300000,0.062500,0.502000,0.200500,0.088000
std,11590.369522,16824.097413,0.230942,0.140035,0.183826,0.458372,0.242122,0.500121,0.400475,0.283366
min,673.000000,829.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2219.250000,3997.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3788.500000,6451.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
75%,8167.250000,12367.750000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000
max,119956.000000,191284.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [32]:
# Dropping avg_time column because column is identical to max_time with max_time being more accurate due to this time being printed on the game.
df = df.drop(columns = ['avg_time'])

In [34]:
df.columns

Index(['rank', 'bgg_url', 'game_id', 'name', 'min_players', 'max_players',
       'min_time', 'max_time', 'complexity_rating', 'year', 'age',
       'avg_rating', 'geek_rating', 'num_votes', 'owned', 'designer',
       'abstract_games', 'childrens_games', 'customizable_games',
       'family_games', 'party_games', 'strategy_games', 'thematic_games',
       'war_games'],
      dtype='object')

In [101]:
#Changing negative year to 0
df.loc[df['year']<0,'year']=0

In [105]:
#Replacing 0 with nan for specific columns
df['year'].replace(0, np.nan, inplace=True)

In [107]:
df['max_players'].replace(0, np.nan, inplace=True)

In [108]:
df['min_time'].replace(0, np.nan, inplace=True)

In [109]:
df['max_time'].replace(0, np.nan, inplace=True)

In [110]:
df.describe()

,rank,game_id,min_players,max_players,min_time,max_time,complexity_rating,year,age,avg_rating,...,num_votes,owned,abstract_games,childrens_games,customizable_games,family_games,party_games,strategy_games,thematic_games,war_games
count,2000.000000,2000.00000,2000.000000,1999.000000,1997.000000,1997.000000,2000.000000,1997.000000,2000.000000,2000.000000,...,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,1000.500000,161915.52550,1.828500,5.043522,59.537807,99.111167,2.521478,2010.847772,11.257000,7.367144,...,7791.679000,12002.218500,0.056500,0.020000,0.035000,0.300000,0.062500,0.502000,0.200500,0.088000
std,577.494589,107574.63844,0.708759,6.555424,52.253440,317.673520,0.811411,36.376770,2.465155,0.445848,...,11590.369522,16824.097413,0.230942,0.140035,0.183826,0.458372,0.242122,0.500121,0.400475,0.283366
min,1.000000,1.00000,1.000000,1.000000,1.000000,2.000000,1.017900,762.000000,0.000000,6.376850,...,673.000000,829.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,500.750000,54113.50000,1.000000,4.000000,30.000000,45.000000,1.956125,2010.000000,10.000000,7.042735,...,2219.250000,3997.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1000.500000,171071.00000,2.000000,4.000000,45.000000,60.000000,2.452850,2015.000000,12.000000,7.324885,...,3788.500000,6451.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
75%,1500.250000,248582.75000,2.000000,5.000000,60.000000,120.000000,3.046725,2019.000000,13.000000,7.640928,...,8167.250000,12367.750000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000
max,2000.000000,374173.00000,8.000000,100.000000,720.000000,12000.000000,4.828200,2023.000000,18.000000,9.224300,...,119956.000000,191284.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [35]:
df_themes = pd.read_csv(os.path.join(path, 'Themes.csv'), index_col = False)

In [36]:
df_themes.columns

Index(['Unnamed: 0', 'game_id', 'Abstract Strategy', 'Action / Dexterity',
       'Adventure', 'Age of Reason', 'American Civil War',
       'American Indian Wars', 'American Revolutionary War', 'American West',
       'Ancient', 'Animals', 'Arabian', 'Aviation / Flight', 'Bluffing',
       'Book', 'Card Game', 'Children's Game', 'City Building', 'Civil War',
       'Civilization', 'Collectible Components', 'Comic Book / Strip',
       'Deduction', 'Dice', 'Economic', 'Educational', 'Electronic',
       'Environmental', 'Expansion for Base-game', 'Exploration', 'Fantasy',
       'Farming', 'Fighting', 'Game System', 'Horror', 'Humor',
       'Industry / Manufacturing', 'Korean War', 'Mafia', 'Math',
       'Mature / Adult', 'Maze', 'Medical', 'Medieval', 'Memory', 'Miniatures',
       'Modern Warfare', 'Movies / TV / Radio theme', 'Murder/Mystery',
       'Music', 'Mythology', 'Napoleonic', 'Nautical', 'Negotiation',
       'Novel-based', 'Number', 'Party Game', 'Pike and Shot', 'Pirates',
       'Political', 'Post-Napoleonic', 'Prehistoric', 'Print & Play', 'Puzzle',
       'Racing', 'Real-time', 'Religious', 'Renaissance', 'Science Fiction',
       'Space Exploration', 'Spies/Secret Agents', 'Sports',
       'Territory Building', 'Trains', 'Transportation', 'Travel', 'Trivia',
       'Video Game Theme', 'Vietnam War', 'Wargame', 'Word Game',
       'World War I', 'World War II', 'Zombies'],
      dtype='object')

In [37]:
df_themes.describe()

,Unnamed: 0,game_id,Abstract Strategy,Action / Dexterity,Adventure,Age of Reason,American Civil War,American Indian Wars,American Revolutionary War,American West,...,Transportation,Travel,Trivia,Video Game Theme,Vietnam War,Wargame,Word Game,World War I,World War II,Zombies
count,2000.000000,2000.00000,2000.000000,2000.000000,2000.00000,2000.000000,2000.000000,2000.000000,2000.000000,2000.00000,...,2000.000000,2000.00000,2000.000000,2000.00000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.00000
mean,999.500000,161915.52550,0.049500,0.020000,0.09650,0.010000,0.003500,0.003500,0.002000,0.01400,...,0.031500,0.01450,0.006000,0.02150,0.001000,0.095500,0.008500,0.032000,0.029500,0.01250
std,577.494589,107574.63844,0.216964,0.140035,0.29535,0.099524,0.059072,0.059072,0.044688,0.11752,...,0.174708,0.11957,0.077246,0.14508,0.031615,0.293978,0.091826,0.176044,0.169246,0.11113
min,0.000000,1.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000,...,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
25%,499.750000,54113.50000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000,...,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
50%,999.500000,171071.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000,...,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
75%,1499.250000,248582.75000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000,...,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
max,1999.000000,374173.00000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.00000,...,1.000000,1.00000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000

In [38]:
# Unnamed column is a column with rows numbered from 0-2000. Dropping column as it doesn't provide any useful information.
df_themes = df_themes.drop(columns = 'Unnamed: 0')

In [39]:
df_themes.describe()

,game_id,Abstract Strategy,Action / Dexterity,Adventure,Age of Reason,American Civil War,American Indian Wars,American Revolutionary War,American West,Ancient,...,Transportation,Travel,Trivia,Video Game Theme,Vietnam War,Wargame,Word Game,World War I,World War II,Zombies
count,2000.00000,2000.000000,2000.000000,2000.00000,2000.000000,2000.000000,2000.000000,2000.000000,2000.00000,2000.000000,...,2000.000000,2000.00000,2000.000000,2000.00000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.00000
mean,161915.52550,0.049500,0.020000,0.09650,0.010000,0.003500,0.003500,0.002000,0.01400,0.061500,...,0.031500,0.01450,0.006000,0.02150,0.001000,0.095500,0.008500,0.032000,0.029500,0.01250
std,107574.63844,0.216964,0.140035,0.29535,0.099524,0.059072,0.059072,0.044688,0.11752,0.240305,...,0.174708,0.11957,0.077246,0.14508,0.031615,0.293978,0.091826,0.176044,0.169246,0.11113
min,1.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
25%,54113.50000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
50%,171071.00000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
75%,248582.75000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
max,374173.00000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,...,1.000000,1.00000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000

In [40]:
# Checking for missing values
df.isnull().sum()

rank                  0
bgg_url               0
game_id               0
name                  0
min_players           0
max_players           0
min_time              0
max_time              0
complexity_rating     0
year                  0
age                   0
avg_rating            0
geek_rating           0
num_votes             0
owned                 0
designer              3
abstract_games        0
childrens_games       0
customizable_games    0
family_games          0
party_games           0
strategy_games        0
thematic_games        0
war_games             0
dtype: int64

In [44]:
# Checking the three missing values from designer to see if the rest of the information is relevant
df_nan = df[df['designer'].isnull() == True]

In [42]:
df_nan

,rank,bgg_url,game_id,name,min_players,max_players,min_time,max_time,complexity_rating,year,...,owned,designer,abstract_games,childrens_games,customizable_games,family_games,party_games,strategy_games,thematic_games,war_games
1045,1046,https://boardgamegeek.com/boardgame/165838,165838,Space Hulk (Fourth Edition),2,2,60,60,2.7222,2014,...,4475,NaN,0,0,0,0,0,0,1,0
1259,1260,https://boardgamegeek.com/boardgame/149155,149155,Dead Man's Draw,2,4,15,15,1.3299,2015,...,9110,NaN,0,0,0,1,0,0,0,0
1669,1670,https://boardgamegeek.com/boardgame/318472,318472,Blood Bowl: Second Season Edition,2,2,60,180,3.7419,2020,...,1880,NaN,0,0,0,0,0,1,0,0

In [111]:
df.to_csv(os.path.join(path, 'board_game_wrangled.csv'))

In [46]:
df_themes.to_csv(os.path.join(path, 'themes_wrangled.csv'))

In [47]:
df_all = pd.read_csv(os.path.join(path, 'items.csv'), index_col = False)

In [48]:
df_all.describe()

,game_id,rating,weight,year_published,min_players,max_players,min_play_time,max_play_time,min_age,owned_by
count,366735.000000,365522.000000,365522.000000,366735.000000,366735.000000,366735.000000,366735.000000,3.667350e+05,366735.000000,365522.000000
mean,202245.629744,3.129082,0.447315,1518.241998,0.933112,3.000875,16.974813,3.309348e+02,3.214209,164.831586
std,116236.515799,3.452349,0.963278,864.918459,1.074204,36.731780,303.321317,1.182957e+05,6.039812,1704.445309
min,1.000000,0.000000,0.000000,-3500.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000
25%,101994.500000,0.000000,0.000000,1930.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000
50%,203097.000000,0.000000,0.000000,2010.000000,1.000000,1.000000,0.000000,0.000000e+00,0.000000,3.000000
75%,302948.500000,6.630838,0.000000,2018.000000,2.000000,4.000000,20.000000,2.000000e+01,8.000000,19.000000
max,402352.000000,10.000000,5.000000,20209.000000,101.000000,11299.000000,157680.000000,6.307200e+07,2017.000000,195083.000000

In [50]:
df_all[df_all['rating']==0]

,name,game_id,type,rating,weight,year_published,min_players,max_players,min_play_time,max_play_time,min_age,owned_by
833,Rolazone,946,boardgame,0.0,0.0,1999,2,2,30,30,0,2.0
847,Contango,962,boardgame,0.0,0.0,2000,2,6,90,90,10,1.0
949,Don't Give Up Your Day Job!,1097,boardgame,0.0,0.0,2000,6,41,120,120,8,1.0
990,"Money, Power, Respect",1151,boardgame,0.0,0.0,2000,2,6,90,90,8,2.0
992,Nuts! To You,1154,boardgame,0.0,0.0,1987,2,2,20,20,6,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...
366682,Afterdream,402255,videogame,0.0,0.0,0,1,1,0,0,0,0.0
366683,Just a Chest,402256,videogame,0.0,0.0,0,1,1,0,0,0,0.0
366684,Garlant: My Story,402257,videogame,0.0,0.0,0,1,1,0,0,0,0.0
366685,Xuan-Yuan Sword: Mists Beyond the Mountains,402258,videogame,0.0,0.0,0,1,1,0,0,0,0.0
366686,RAILGRADE,402259,videogame,0.0,0.0,0,1,1,0,0,0,0.0

In [52]:
df_all['type'].unique()

array(['boardgame', 'boardgameexpansion', 'boardgameaccessory',
       'videogame', 'rpgitem', 'rpgissue', 'videogamecompilation',
       'videogamehardware', 'videogameexpansion', 'boardgameissue',
       'puzzle', 'bgsleeve'], dtype=object)

In [53]:
df_bg = df_all[df_all["type"].str.contains("boardgame")==True]

In [54]:
df_bg['type'].unique()

array(['boardgame', 'boardgameexpansion', 'boardgameaccessory',
       'boardgameissue'], dtype=object)

In [56]:
df_bg2 = df_bg[df_bg["type"].isin(['boardgame'])]

In [57]:
# Removing all other categories besides board games
df_bg2['type'].unique()

array(['boardgame'], dtype=object)

In [58]:
df_bg2.describe()

,game_id,rating,weight,year_published,min_players,max_players,min_play_time,max_play_time,min_age,owned_by
count,116750.000000,116733.000000,116733.000000,116750.000000,116750.000000,116750.000000,116750.000000,1.167500e+05,116750.000000,116733.000000
mean,162635.343323,4.634865,0.840227,1823.829113,1.984617,6.684779,40.032857,1.019957e+03,7.598552,359.418314
std,128193.450590,3.005580,1.090356,573.682043,0.859047,48.180572,532.987801,2.096595e+05,7.624689,2862.859064
min,1.000000,0.000000,0.000000,-3500.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000
25%,33627.250000,1.000000,0.000000,1989.000000,2.000000,2.000000,10.000000,1.000000e+01,4.000000,2.000000
50%,145889.500000,5.666670,0.000000,2009.000000,2.000000,4.000000,20.000000,3.000000e+01,8.000000,9.000000
75%,280596.000000,6.838240,1.666700,2017.000000,2.000000,6.000000,45.000000,6.000000e+01,12.000000,59.000000
max,402342.000000,10.000000,5.000000,2026.000000,50.000000,11299.000000,157680.000000,6.307200e+07,2017.000000,195083.000000

In [60]:
# Removing any value where rating is less than 1
df_bg3 = df_bg2[df_bg2['rating'] >= 1]

In [61]:
df_bg3.shape

(87769, 12)

In [63]:
df_all.shape

(366735, 12)

In [65]:
# Removing any games before 1900 and 2023
df_bg4 = df_bg3[(df_bg3['year_published'] >= 1900) & (df_bg3['year_published'] <= 2023)]

In [66]:
df_bg4.shape

(81455, 12)

In [67]:
df_bg4.describe()

,game_id,rating,weight,year_published,min_players,max_players,min_play_time,max_play_time,min_age,owned_by
count,81455.000000,81455.000000,81455.000000,81455.000000,81455.000000,81455.000000,81455.000000,8.145500e+04,81455.000000,81455.000000
mean,152647.944681,6.183568,1.130234,2006.240047,1.991308,6.561463,45.548106,4.745411e+02,8.136799,509.465631
std,126214.061211,1.560799,1.125338,16.425733,0.788385,44.082925,633.919843,1.054064e+05,8.400977,3406.114717
min,1.000000,1.000000,0.000000,1900.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000
25%,27709.500000,5.296990,0.000000,2000.000000,2.000000,2.000000,10.000000,1.500000e+01,6.000000,6.000000
50%,137480.000000,6.238240,1.000000,2011.000000,2.000000,4.000000,30.000000,3.000000e+01,8.000000,23.000000
75%,264423.000000,7.084740,2.000000,2018.000000,2.000000,6.000000,45.000000,6.000000e+01,12.000000,134.000000
max,402087.000000,10.000000,5.000000,2023.000000,40.000000,11299.000000,157680.000000,3.000000e+07,2017.000000,195083.000000

In [68]:
#Removing any owned by for less than 100 to hopefully pull out some of the missing information. I want to use data that has more people who owned the game and provided feedback for better data.
df_bg5 = df_bg4[df_bg4['owned_by'] >= 100]

In [69]:
df_bg5.describe()

,game_id,rating,weight,year_published,min_players,max_players,min_play_time,max_play_time,min_age,owned_by
count,23217.000000,23217.000000,23217.000000,23217.000000,23217.000000,23217.000000,23217.000000,23217.000000,23217.000000,23217.000000
mean,143730.141793,6.491953,1.990655,2008.675453,1.962527,5.928501,62.306930,100.210535,9.815911,1736.215187
std,119828.321560,0.909297,0.854580,13.677965,0.719648,15.557085,415.551844,750.851455,3.663217,6212.753677
min,1.000000,2.006100,0.000000,1900.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100.000000
25%,16985.000000,5.915150,1.333300,2004.000000,2.000000,4.000000,20.000000,30.000000,8.000000,186.000000
50%,145203.000000,6.519230,1.979700,2013.000000,2.000000,4.000000,30.000000,45.000000,10.000000,382.000000
75%,246346.000000,7.112480,2.545500,2018.000000,2.000000,6.000000,60.000000,90.000000,12.000000,1062.000000
max,396790.000000,9.500000,5.000000,2023.000000,10.000000,999.000000,60000.000000,84000.000000,21.000000,195083.000000

In [75]:
#Removing any of the data with 0 in it besides minimum age to pull out inaccurate data
df_bg6 = df_bg5[df_bg5['weight'] > 0]

In [78]:
df_bg7 = df_bg6[df_bg6['min_players'] > 0]

In [79]:
df_bg8 = df_bg7[df_bg7['max_players'] > 0]

In [83]:
df_bg9 = df_bg8[df_bg8['max_play_time'] > 0]

In [85]:
df_bg10 = df_bg9[df_bg9['min_play_time'] > 0]

In [87]:
df_bg10.shape

(21591, 12)

In [88]:
df_bg10.describe()

,game_id,rating,weight,year_published,min_players,max_players,min_play_time,max_play_time,min_age,owned_by
count,21591.000000,21591.000000,21591.000000,21591.000000,21591.000000,21591.000000,21591.000000,21591.000000,21591.000000,21591.000000
mean,139953.065907,6.498905,2.039891,2008.373304,1.966143,5.809921,65.514844,105.453847,9.980733,1850.173637
std,119307.903349,0.893651,0.802488,13.820726,0.704917,15.356550,430.114984,776.764189,3.463406,6427.682993
min,1.000000,2.006100,1.000000,1900.000000,1.000000,1.000000,1.000000,1.000000,0.000000,100.000000
25%,14492.500000,5.925905,1.352000,2003.000000,2.000000,4.000000,20.000000,30.000000,8.000000,202.000000
50%,139894.000000,6.522780,2.000000,2013.000000,2.000000,4.000000,30.000000,45.000000,10.000000,421.000000
75%,242552.000000,7.109555,2.562500,2018.000000,2.000000,6.000000,60.000000,90.000000,12.000000,1170.000000
max,396790.000000,9.484620,5.000000,2023.000000,10.000000,999.000000,60000.000000,84000.000000,21.000000,195083.000000

Max players and minimum/maximum play time seem like there is incorrent data. I verified on the board game page for each of those outliers on BoardGameGeek and the data is accurate.

In [113]:
df_bg5.shape

(23217, 12)

In [114]:
df_bg10 = df_bg10.drop(columns = ['type'])

In [115]:
# Renaming to add a better description for weight
df_bg10.rename(columns = {'weight' : 'complexity_rating'}, inplace = True)

In [116]:
df_bg10.to_csv(os.path.join(path, 'items_wrangled.csv'))